@import "colors";

.maharishi-logo {
  background: no-repeat right url("../assets/images/maharishi-logov2.png");
  background-size: contain;
}

header .row:nth-child(2) {
  background-color: $color__turquoise-blue;
}

.background-ocean {
  background: no-repeat 50% url("../assets/images/numbersbanner2.jpg");
  background-size: cover;
  max-height: 570px;
}

.find-teacher {
  background-color: $color__near-dodger-blue;
  &:hover {
    background-color: $color__light-cyan;
  }
}

.ellen {
  div:first-child {
    background-color: $color__alice-blue;
    max-height: 305px;
  }
  div:last-child {
    a {
      background: no-repeat url("../assets/images/ellenShow.jpg");
      background-size: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.what-is-tm {
  div:first-child {
    background-color: $color__medium-cyan;
    height: 300px;
  }
  div:nth-child(2) {
    background: no-repeat url("../assets/images/tmHome.jpg");
    background-size: cover;
  }
}

.clouds {
  div:first-child {
    background-color: $color__light-sky;
  }
  div:nth-child(2) {
    background: no-repeat 10% 0 url("../assets/images/arrow-content-down.png");
    height: 300px;
  }
  div:last-child {
    background: no-repeat url("../assets/images/background25_560x560.jpg");
  }
}

.endorsement {
  div:nth-child(2) {
    height: 300px;
    a {
      background: no-repeat url("../assets/images/cameron.jpg");
      background-size: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  div:nth-child(3) {
    background-color: $color__heather;
  }
  div:nth-child(4) {
    background-color: $color__light-sky;
  }
}

.what-happens {
  div:first-child {
    background-color: $color__light-sky;
    height: 300px;
  }
  div:last-child {
    background-color: $color__chrome-blue;
    background-size: cover;
  }
}

.daisies {
  div:first-child {
    background: no-repeat url("../assets/images/daisies_1000x500.jpg");
    background-size: cover;
    height: 300px;
  }
  div:last-child {
    background: no-repeat 50% 0 url("../assets/images/arrow-content-down.png");
  }
}

.mccartney, .maharishi {
  background-color: $color__alice-blue;
  p {
    background: no-repeat 50% 100% url("../assets/images/bg-quote.gif");
    display: block;
  }
}

.tm-value {
  div:first-child {
    background-color: $color__light-sky;
    height: 300px;
  }
  div:last-child {
    background: none;
    .arrow-left {
      background: no-repeat 0 50% url("../assets/images/arrow-content-left.png");
    }
  }
}

.benefits {
  background-color: $color__chrome-blue;
  height: 300px;
}

.take-step {
  background-color: $color__summer-sky;
}
.contact-us {
  background-color: $color__near-dodger-blue;
}
.faq, .accordion {
  background-color: $color__chrome-blue;
}
.eu-sub-left {
  background-color: $color__summer-sky;
}
.footer-upper {
  background-color: $color__alice-blue;
}
.footer-lower {
  background-color: $color__medium-cyan;
}