@import "colors";

header .row:nth-child(2) {
  background-color: $color__turquoise-blue;
}

.background-ocean {
  background: no-repeat 50% url("../assets/images/numbersbanner2.jpg");
  background-size: cover;
  max-height: 570px;
}

.find-teacher {
  background-color: $color__near-dodger-blue;

  &:hover {
    background-color: $color__light-cyan;
  }
}

.ellen {
  div:first-child {
    background-color: $color__alice-blue;
  }

  div:last-child {
    a {
      background: no-repeat center url("../assets/images/ellenShow.jpg");
      background-size: cover;
      width: 100%;
      height: 230px;
      @media (min-width: 576px) {
        height: 100%;
      }
      display: block;
    }
  }
}

.what-is-tm {
  div:first-child {
    background-color: $color__medium-cyan;
    height: 170px;
    @media (min-width: 576px) {
      height: 300px;
    }
  }

  div:nth-child(2) {
    background: no-repeat url("../assets/images/tmHome.jpg");
    background-size: cover;
  }
}

.clouds {
  div:first-child {
    background-color: $color__light-sky;
  }

  div:nth-child(2) {
    background: no-repeat 10% 0 url("../assets/images/arrow-content-down.png");
  }

  div:last-child {
    background: no-repeat url("../assets/images/background25_560x560.jpg");
    background-size: cover;
  }
}

.endorsement {
  div:nth-child(2) {
    height: 375px;
    @media (min-width: 576px) {
      height: 300px;
    }

    a {
      background: no-repeat url("../assets/images/cameron.jpg");
      background-size: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  div:nth-child(3) {
    background-color: $color__heather;
  }

  div:nth-child(4) {
    background-color: $color__light-sky;
  }
}

.what-happens {
  div:first-child {
    background-color: $color__light-sky;
    height: 170px;
    @media (min-width: 576px) {
      height: 300px;
    }
  }

  div:last-child {
    background-color: $color__chrome-blue;
    background-size: cover;
  }
}

.daisies {
  .daisies-bg {
    background: no-repeat url("../assets/images/daisies_1000x500.jpg");
    background-size: cover;
    height: 460px;
    @media (min-width: 992px) {
      height: 430.38px;
    }
    @media (min-width: 1200px) {
      height: 400.38px;
    }
  }

  div:last-child {
    background: no-repeat 50% 0 url("../assets/images/arrow-content-down.png");
  }
}

.star-quote, .maharishi, .contact-info {
  background-color: $color__alice-blue;

  p {
    background: no-repeat 50% 100% url("../assets/images/bg-quote.gif");
    display: block;
  }
}

.tm-value {
  div:first-child {
    background-color: $color__light-sky;
    height: 184px;
    @media (min-width: 576px) {
      height: 300px;
    }
  }

  div:last-child {
    background: none;

    .arrow-left {
      background: none;
      @media (min-width: 576px) {
        background: no-repeat 0 50% url("../assets/images/arrow-content-left.png");
      }
    }
  }
}

.benefits {
  background-color: $color__chrome-blue;
  //height: 300px;
}

.take-step {
  background-color: $color__summer-sky;
  min-height: 170px;
}

.contact-us {
  background-color: $color__near-dodger-blue;
}

.faq, .accordion {
  background-color: $color__chrome-blue;
}

.eu-sub-left {
  background-color: $color__summer-sky;
  min-height: 170px;
}

.footer-upper {
  background-color: $color__alice-blue;
}

.footer-lower {
  background-color: $color__medium-cyan;
}

//innerPage1

.gradient {
  background: no-repeat 50% url("../assets/images/innerPage1/TM-Course-Fee_Ban.jpg");
  background-size: cover;
  height: 470px;
}

.included {
  background-color: $color__alice-blue;
}

.offer {
  .left-col {
    background-color: $color__chrome-blue;
  }

  .right-col {
    background-color: $color__light-sky;

    div:nth-child(2) {
      background-color: $color__medium-cyan;
    }
  }
}

.inner-page-endorsement-1, .inner-page-endorsement-2 {
  .star-photo {
    height: 322px;
    @media (min-width: 576px) {
      height: 331px;
    }
    @media (min-width: 992px) {
      height: 272px;
    }

    a {
      background: no-repeat url("../assets/images/innerPage1/TMCoursefee-Healing-560px.jpg");
      background-size: contain;
      @media (min-width: 992px) {
        background-size: cover;
      }
      width: 100%;
      height: 100%;
      display: block;
    }

    &.hugh {
      a {
        background: no-repeat url("../assets/images/innerPage2/Happiness--hugh-520px.jpg");
        background-size: contain;
        @media (min-width: 992px) {
          background-size: cover;
        }
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &.katy {
      a {
        background: no-repeat url("../assets/images/innerPage2/Happiness-katy-perry-520px.jpg");
        background-size: contain;
        @media (min-width: 992px) {
          background-size: cover;
        }
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  .play-button-col {
    background-color: $color__heather;
  }

  .helping-people {
    background-color: $color__chrome-blue;
  }
}

//innerPage2
.luck {
  background: no-repeat 50% url("../assets/images/innerPage2/TM-Benefits-Happiness-peace-meditation-2000x570jpg.jpg");
  background-size: cover;
  height: 470px;
}

.light-blue-paragraph {
  background-color: $color__light-sky;
}

.graphs {
  .left-col {
    .row:first-child {
      background-color: $color__summer-sky;
      height: 270px;
    }

    .row:last-child {
      background-color: $color__white;
      height: 270px;
    }
  }

  .right-col {
    .arrow-right {
      background: none;
      @media (min-width: 576px) {
        background: no-repeat 0 20% url("../assets/images/arrow-content-left.png");
      }
    }

    .row {
      background-color: $color__azureish-white;
    }

    &.mirrored {
      .arrow-left {
        background: none;
        @media (min-width: 576px) {
          background: no-repeat 100% 20% url("../assets/images/arrow-content-right.png");
        }
      }

      .row {
        background-color: $color__alice-blue;
      }
    }
  }
}

.alice-blue {
  background-color: $color__alice-blue;
}

.chrome-blue {
  background-color: $color__chrome-blue;
}

.summer-sky {
  background-color: $color__summer-sky;
}

.light-sky {
  background-color: $color__light-sky;
}

.cornflower-blue {
  background-color: $color__cornflower-blue;
}

.table-wrapper {
  @media  (min-width: 768px){
    background: no-repeat 50% 0 url("../assets/images/arrow-content-down.png");
  }
  .row {
    height: 55px;
    @media (min-width: 576px) {
      height: 75px;
    }
    @media (min-width: 768px) {
      height: 110px;
    }
    @media (min-width: 992px) {
      height: 130px;
    }
  }
  .col-3 {
    max-width: 80px;
    border-top: 1px solid $color__white;
    @media (min-width: 576px) {
      max-width: 120px;
    }
    @media (min-width: 768px) {
      max-width:180px;
    }
    @media (min-width: 992px) {
      max-width: 220px;
    }
  }
}

.chevron {
  background: no-repeat 0 50% url("../assets/images/innerPage4_conacts/bg-chevron.png");
}
