@import "colors";

.maharishi-logo {
  background: no-repeat right url("../assets/images/maharishi-logov2.png");
  background-size: contain;
}

header .row:nth-child(2) {
  background-color: $color__turquoise-blue;
}

.background-ocean {
  background: no-repeat 50% url("../assets/images/numbersbanner2.jpg");
  background-size: cover;
  max-height: 570px;
}

.find-teacher {
  background-color: $color__near-dodger-blue;
  &:hover {
    background-color: $color__light-cyan;
  }
}

.ellen {
  div:first-child {
    background-color: $color__alice-blue;
  }
  div:last-child {
    background: no-repeat url("../assets/images/ellenShow.jpg");
    background-size: cover;
  }
}

.what-is-tm {
  div:first-child {
    background-color: $color__medium-cyan;
  }
}