//Colors
$color__governor-bay:         #4b5486;
$color__cyan-blue:            #5a7c93;
$color__medium-cyan:          #42bff4;
$color__light-cyan:           #dffff8;
$color__dark-blue:            #34384f;
$color__summer-sky:           #42bef4;
$color__turquoise-blue:       #9addf5;
$color__chrome-blue:          #4e99f0;
$color__near-dodger-blue:     #1c83ef;
$color__alice-blue:           #ebf8fc;
$color__light-sky:            #7ed2f5;
$color__white:                #ffffff;
$color__wisteria:             #c485d2;
$color__heather:              #acbcc7;
$color__greyskull:            #98add1;
