@import "typography";

.container-fluid {
  font-family: $font-family-body;
}

header, .maharishi-logo a, .nav-item a {
  color: $color__text-body-dark;
}

header .row .row:first-child {
  font-size: $font-size__small;
}

.nav-item a{
  font-size: 1rem;
  font-weight: bold;
}

main {
  section:first-child {
    .container {
      color: $color__white;
      a {
        color:$color__white;
        text-decoration: underline;
      }
      li {
        font-size: 2.5rem;
        p {
          font-size: $font-size__medium;
        }
      }
    }
    .find-teacher {
      color: $color__white;
      &:hover {
        color: $color__wisteria;
      }
    }
  }
  .ellen {
    div:first-child {
      color: $color__cyan-blue;
      padding: 1.5rem 0;
      p {
        font-size: $font-size__large;
        padding-top: .5rem;
      }
    }
  }
  .what-is-tm {
    div:first-child {
      font-size: 1.75rem;
      color: $color__white;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: $font-weight__bold;
  line-height: 1.5;
}

