.container {
  max-width: 1200px;
}

img {
  margin-bottom: 1rem;
}

.header-upper {
  padding: 4px 30px;
  .row {
    padding: 0 15px;
  }
}

header {
  text-align: right;
}

.maharishi-logo {
  padding: 15px 50px 15px 0;
  min-height: 21px;
  a {
    text-decoration: none;
  }
}

.navbar-brand {
  img {
    max-width: 169px;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  text-transform: uppercase;
  padding: 0 15px;
  .nav-link {
    padding-right: 0;
  }
}

main {
  section:first-child {
    .container {
      .row {
          margin: 3.5rem 10px;
      }
    }
    .find-teacher {
      justify-content: center;
      h4 {
        padding: 15px 10px 10px 10px;
        margin: 0;
      }
    }
  }
  .ellen {
    div:first-child {
      text-align: center;
    }
  }
  .what-is-tm {
    div:first-child {
      text-align: center;
    }
  }
  .clouds {
    div:nth-child(2) {
      padding: 2.2rem 3.1rem;
      p {
      margin-bottom: 0;
      }
    }
  }
  .endorsement {
    div:nth-child(3) {
      padding: 1.25rem 1rem;
      text-align: center;
      .wrapper {
        justify-content: center;
        margin: auto;
        padding: 0.7rem 0;
      }
    }
  }
  .what-happens {
    div:last-child {
      text-align: center;
    }
  }
}