@import "typography";

.container-fluid {
  font-family: $font-family-body;
}

header, .maharishi-logo a, .nav-item a {
  color: $color__text-body-dark;
}

header .row .row:first-child {
  font-size: $font-size__small;
}

.nav-item a{
  font-size: 1rem;
  font-weight: bold;
}

