@import "colors";
@import "elements";

.container {
  padding-right: 0;
  padding-left: 0;
  max-width: 1080px;
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

header {
  text-align: right;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .header-upper {
    padding: 4px 30px;
    .row {
      padding: 0;
      @media (min-height: 767.98px) {
        padding: 0 1rem;
      }
    }
  }
  .header-flag {
    text-align: right;
    @media (min-width: 767.98px) {
      text-align: center;
    }
  }
  .maharishi-logo {
    text-align: left;
    @media (min-width: 767.98px) {
      text-align: center;
    }
  }
}

// Navigation
.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  text-transform: uppercase;
  padding: 0 15px;
  .nav-link {
    padding-right: 0;
  }
}

// Dropdown menu on hover
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

// Dropdown menu style
.dropdown-menu {
  border-radius: 0;
  padding: 0;
}

main {
  section:first-child {
    .container {
      .wrapper {
        h1 {
          margin-bottom: 1rem;
        }
          margin: 3.5rem 10px;
        p {
          padding: .4rem 0;
          margin: 0 0 0 .5rem;
          @media (min-width: 576px) {
            padding: 1rem 0;
            margin: 0 0 0 -1rem;
          }
          @media (min-width: 992px) {
            margin: 0 0 0 -2rem;
          }
          @media (min-width: 1200px) {
            margin: 0 0 0 -3rem;
          }
        }
        .list-number {
          align-self: center;
        }
      }
    }
    .find-teacher {
      text-align: center;
      justify-content: center;
      h4 {
        padding: 15px 10px 10px 10px;
        margin: 0;
      }
    }
  }
  .ellen {
    div:first-child {
      text-align: center;
      .play-button {
        padding: 0;
      }
      h4 {
        margin-top: .5rem;
      }
    }
  }
  .what-is-tm {
    div:first-child {
      text-align: center;
    }
  }
  .clouds {
    div:nth-child(2) {
      padding: $padding__content;
      @media (min-width: 992px) {
        padding: $padding__content-lg;
      }
      p {
      margin-bottom: 0;
      }
    }
  }
  .endorsement, .inner-page-endorsement-1, .inner-page-endorsement-2 {
    div:nth-child(3), .play-button-col {
      padding: 1.25rem 1rem;
      text-align: center;
      .wrapper {
        justify-content: center;
        margin: auto;
        padding: 0.7rem 0;
        .play-button {
          margin-bottom: .7rem;
        }
      }
    }
  }
  .what-happens {
    div:last-child {
      text-align: center;
    }
  }
  .daisies, .tm-value {
    align-items: center;
    div div {
      p {
        padding: 1.25rem .7rem;
        text-align: center;
        @media (min-width: 992px) {
          padding: $padding__content;
          text-align: left;
        }
        @media (min-width: 992px) {
          padding: $padding__content-lg;
        }
        margin-bottom: 0;
      }
    }
  }
  .star-quote, .maharishi, .contact-info {
    align-items: center;
    text-align: center;
    justify-content: center;
    h3 {
      padding-bottom: 0.75rem;
    }
    p {
      padding: 1rem 0;
      margin-bottom: 0;
    }
    .col {
      padding: $padding__content;
      @media (min-width: 992px) {
        padding: $padding__content-lg;
      }
    }
  }
  .benefits {
    width: 100%;
    text-align: center;
    padding: 2rem 2rem 0;
    img {
      margin-bottom: 0;
    }
  }
  .benefits-second-row {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    padding: 0 2rem;
    h5 {
      line-height: .8;
    }
  }
  .take-step {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: $padding__content-lg;
    h1 {
      font-size: 1.5rem;
      @media (min-width: 576px) {
        font-size: 2.5rem;
      }
    }
  }
  .contact-us {
    text-align: center;
    justify-content: center;
  }
  .faq {
    h1 {
      margin-top: 1.25rem;
      @media (min-width: 576px) {
        margin-top: 0;
      }
    }
    align-items: center;
    .arrow-down {
      margin-bottom: 1rem;
    }
  }
  .eu-sub-left {
    div {
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .eu-sub-right {
    text-align: center;
    @media (min-width: 576px) {
      text-align: left;
    }
    .row {
      padding: 1.25rem 0.625rem;
      margin-bottom: 0;
      @media (min-width: 576px) {
        padding: 0.625rem;
      }
    }
  }
  .footer-upper {
    padding: 2rem 1rem .75rem;
    .tm-logo-footer {
      max-width: 250px;
      padding-bottom: 1rem;
      margin: 0 auto;
    }
    .col-md-3 {
    text-align: center;
    @media (min-width: 576px) {
      text-align: left;
    }
    padding-left: 0;
    @media (min-width: 768px) {
      padding-left: 3rem;
    }
  }
    img {
      width: 100%;
    }
    ul {
      padding: 0;
    }
    li {
      line-height: 1.7;
      padding: 5px 0;
    }
  }
  .footer-lower {
    text-align: center;
    div {
      padding: 1rem .6rem;
    }
    p {
     padding: 2px 0;
      margin-bottom: 0;
    }
  }
  .flag:after {
    content: url("../assets/images/ukFlag.png");
    padding-left: 0.4rem;
  }
}

//innerPage1
.gradient, .luck {
  text-align: center;
}

.included, .left-col>.row>.col, .right-col>.row>.col, .helping-people .row .col {
  padding: $padding__content;
  @media (min-width: 992px) {
    padding: $padding__content-lg;
  }
}

.included {
  text-align: center;
}

.light-blue-paragraph {
  text-align: center;
  padding: $padding__content;
  @media (min-width: 992px) {
    padding: $padding__content-lg;
  }
}

.graphs {
  text-align: center;
  .right-col {

  }
}

img {
  max-width: 100%;
}

.table-wrapper {
  padding: 0.5rem 1.5rem;
  @media (min-width: 576px) {
    padding: 1.5rem 2.5rem;
  }
  @media (min-width: 768px) {
    padding: 2.5rem 3.5rem;
  }
  @media (min-width: 992px) {
    padding: 3.5rem 4.5rem;
  }
  .row {
    justify-content: center;
  }
  .col-3 {
    text-align: center;
  }
}

.contact-form {
  padding: .5rem;
  button {
    background-color: $color__turquoise-blue;
    margin-bottom: .3rem;
    border: none;
    color: $color__blue-buyoux;
    &:hover {
      background-color: darken($color__turquoise-blue, 5%);
      color: $color__cyan-blue;
    }
  }
  a {
    text-decoration: none;
    color: $color__summer-sky;
  }
}

.tm-centers {
  padding: 1rem 1rem;
  @media (min-width: 576px) {
    padding: 1rem 2rem;
  }
  @media (min-width: 768px) {
    padding: 1rem 3rem;
  }
  @media (min-width: 992px) {
    padding: 1rem 4rem;
  }
  .address {
    padding-bottom: .8rem;
  }
  .chevron {
    margin-left: 15px;
  }
}