@import "colors";

//Font
$font-family-body: 'Raleway', sans-serif;

//Font Sizes
$font-size__html: 0.7rem;
$font-size__body: 1.25rem;
$font-size__medium: 1.125rem;
$font-size__small:  0.875rem;


$line-height__body: 1.55;

$letter-spacing__body: 0.2em;


//Font colors

$color__text-body-dark:            $color__governor-bay;
$color__text-body-medium:       $color__cyan-blue;
$color__text-body-light:            $color__medium-cyan;